doctype html
html(lang='en')
  head
    title mongodb-leaf
    meta(name='viewport', content='initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    meta(name='theme-color', content='#58AA50')
    link(rel='icon' type='image/png' href='mongodb-leaf_32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='mongodb-leaf_16x16.png' sizes='16x16')
    link(rel='icon' href='mongodb-leaf.ico')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#')
            img(alt='mongodb-leaf', src='mongodb-leaf_32x32.png')

    .container-fluid
      for px, name in sizes
        .row: .col-md-12
          a(name='#{name.replace(/ /g, '-').toLowerCase()}')
          h2= name
            small &nbsp;#{px}x#{px}

          img(src='mongodb-leaf_#{px}x#{px}.png')
          code mongodb-leaf_#{px}x#{px}.png

          img(src='mongodb-leaf_#{px}x#{px}@2x.png')
          code mongodb-leaf_#{px}x#{px}@2x.png
